@page "/admin/carreras"
@inject NavigationManager _navigationManager
@inject IGenericService<Carrera> _carreraService
@inject SweetAlertService _sweetAlert
@rendermode InteractiveServer

<EncabezadoPage Titulo="Administracion de Carreras" Descripcion="Gestiona los carreras de los libros en la plataforma"/>

<div class="container py-4">
    <SeccionBtnNuevoMostrarEliminados @bind-MostrarEliminados="MostrarEliminados" OnNuevo="Nuevo" OnAfterMostrarEliminados="GetCarreras"></SeccionBtnNuevoMostrarEliminados>
    @if (isLoading)
    {
		<ActivityIndicator Mensaje="Cargando carreras..."></ActivityIndicator>
    }
    else
    {
        @if (carreras != null && carreras.Count > 0)
        {
            <TablaIdNombreConFiltro ListEntity="@(carreras.Cast<IEntityIdNombre>().ToList())" OnEliminar="Eliminar" OnModificar="Modificar" OnRestaurar="Restaurar" MostrarEliminados="MostrarEliminados"></TablaIdNombreConFiltro>
            <NuevoEditarIdNombre Titulo="Carrera" Entity="carreraSeleccionada" OnGuardar="Guardar"></NuevoEditarIdNombre>
        }
        else
        {
            @if (MostrarEliminados)
            {
                <div class="alert alert-info" role="alert">
		            No hay carreras eliminadas.
                </div>
            }
            else
            {
                <div class="alert alert-info" role="alert">
		            No hay carreras registradas.
				</div>
            }
        }
    }
</div>

@code {
    List<Carrera>? carreras = new List<Carrera>();
	Carrera carreraSeleccionada = new();
	public bool MostrarEliminados { get; set; } = false;

    bool isLoading;

    protected override async Task OnInitializedAsync()
    {
        await GetCarreras();
    }

    private async Task GetCarreras()
    {
        isLoading = true;
        if (MostrarEliminados)
        {
            carreras = await _carreraService.GetAllDeletedsAsync();
        }
        else
        {
            carreras = await _carreraService.GetAllAsync();
        }
        isLoading = false;
        StateHasChanged();
    }

    private void Modificar(IEntityIdNombre entity)
    {
        carreraSeleccionada = (Carrera)entity;
    }

    private void Nuevo()
    {
        carreraSeleccionada = new();
    }

    private async Task Guardar(IEntityIdNombre entity)
    {
        try
        {
            isLoading = true;
            Carrera carreraToSave = (Carrera)entity;
            if (carreraToSave.Id == 0)
            {
                // Nuevo carrera
                await _carreraService.AddAsync(carreraToSave);
                await _sweetAlert.FireAsync("Creado", "El carrera ha sido creado exitosamente.", SweetAlertIcon.Success);
            }
            else
            {
                // Actualizar carrera existente
                await _carreraService.UpdateAsync(carreraToSave);
                await _sweetAlert.FireAsync("Actualizado", "El carrera ha sido actualizado exitosamente.", SweetAlertIcon.Success);
            }
            carreras = await _carreraService.GetAllAsync();
        }
        catch (Exception ex)
        {
            await _sweetAlert.FireAsync("Error", "Hubo un error al guardar el carrera.", SweetAlertIcon.Error);
        }
        finally
        {
            isLoading = false;
        }
    }

    private async Task Eliminar(IEntityIdNombre entity)
    {
        SweetAlertResult respuesta = await _sweetAlert.FireAsync(new SweetAlertOptions
            {
                Title = "Eliminando carrera",
                Text = $"¿Está seguro que desea borrar al carrera {entity.Nombre}",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Si, quiero borrarlo!",
                CancelButtonText = "No, espera"
            });
        if (respuesta.IsConfirmed)
        {
            try
            {
                await _carreraService.DeleteAsync(entity.Id);
                isLoading = true;
                carreras = await _carreraService.GetAllAsync();
                await _sweetAlert.FireAsync("Eliminado", "El carrera ha sido eliminado exitosamente.", SweetAlertIcon.Success);
            }
            catch (Exception ex)
            {
                await _sweetAlert.FireAsync("Error", "Hubo un error al eliminar el carrera.", SweetAlertIcon.Error);
            }
            finally
            {
                isLoading = false;
            }
        }
    }
    private async Task Restaurar(IEntityIdNombre entity)
    {
        SweetAlertResult respuesta = await _sweetAlert.FireAsync(new SweetAlertOptions
        {
            Title = "Restaurando carrera",
            Text = $"¿Está seguro que desea restaurar al carrera {entity.Nombre}?",
            Icon = SweetAlertIcon.Question,
            ShowCancelButton = true,
            ConfirmButtonText = "Si, quiero restaurarlo!",
            CancelButtonText = "No, espera"
        });
        if (respuesta.IsConfirmed)
        {
            try
            {
                isLoading = true;
                await _carreraService.RestoreAsync(entity.Id);
                carreras = await _carreraService.GetAllDeletedsAsync();
                await _sweetAlert.FireAsync("Restaurado", "El carrera ha sido restaurado exitosamente.", SweetAlertIcon.Success);
            }
            catch (Exception ex)
            {
                await _sweetAlert.FireAsync("Error", "Hubo un error al restaurar el carrera.", SweetAlertIcon.Error);
            }
            finally
            {
                isLoading = false;
            }
        }
    }
}
