@page "/admin/carreras"
@inject NavigationManager _navigationManager
@inject IGenericService<Carrera> _carreraService
@inject SweetAlertService _sweetAlert
@rendermode InteractiveServer

<EncabezadoPage Titulo="Administracion de Carreras" Descripcion="Gestiona los carreras de los libros en la plataforma"/>

<div class="container py-4">
    @if (isLoading)
    {
        <div class="d-flex align-items-center justify-content-center my-4">
            <div class="spinner-border text-primary" role="status"></div>
            <span class="ms-2 text-primary">Cargando carreras...</span>
        </div>
    }
    else
    {
        @if (carreras != null && carreras.Count > 0)
        {
            <TablaIdNombreConFiltro ListEntity="@(carreras.Cast<IEntityIdNombre>().ToList())" OnEliminar="Eliminar" OnModificar="Modificar"></TablaIdNombreConFiltro>
        }
        else
        {
            <div class="alert alert-info" role="alert">
                No hay carreras registrados.
            </div>
        }
    }
</div>

@code {
    List<Carrera>? carreras = new List<Carrera>();

    bool isLoading;

    protected override async Task OnInitializedAsync()
    {
        await LoadCarreras();
    }

    private async Task LoadCarreras()
    {
        isLoading = true;
        carreras = await _carreraService.GetAllAsync();
        isLoading = false;
    }

    private void Modificar(IEntityIdNombre entity)
    {
        _sweetAlert.FireAsync("Modificar Carrera", $"Redirigiendo para modificar el carrera : {entity.Nombre}", SweetAlertIcon.Info);

    }

    private async Task Eliminar(IEntityIdNombre entity)
    {
        SweetAlertResult respuesta = await _sweetAlert.FireAsync(new SweetAlertOptions
            {
                Title = "Eliminando carrera",
                Text = $"¿Está seguro que desea borrar al carrera {entity.Nombre}",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Si, quiero borrarlo!",
                CancelButtonText = "No, espera"
            });
        if (respuesta.IsConfirmed)
        {
            try
            {
                await _carreraService.DeleteAsync(entity.Id);
                isLoading = true;
                carreras = await _carreraService.GetAllAsync();
                await _sweetAlert.FireAsync("Eliminado", "El carrera ha sido eliminado exitosamente.", SweetAlertIcon.Success);
            }
            catch (Exception ex)
            {
                await _sweetAlert.FireAsync("Error", "Hubo un error al eliminar el carrera.", SweetAlertIcon.Error);
            }
            finally
            {
                isLoading = false;
            }
        }
    }
}
