@page "/admin/generos"
@inject NavigationManager _navigationManager
@inject IGenericService<Genero> _generoService
@inject SweetAlertService _sweetAlert
@rendermode InteractiveServer

<EncabezadoPage Titulo="Administracion de Generos" Descripcion="Gestiona los generos de los libros en la plataforma"/>

<div class="container py-4">
    @if (isLoading)
    {
        <div class="d-flex align-items-center justify-content-center my-4">
            <div class="spinner-border text-primary" role="status"></div>
            <span class="ms-2 text-primary">Cargando generos...</span>
        </div>
    }
    else
    {
		<button title="Nuevo" class="btn btn-primary mb-3" data-bs-toggle="modal" @onclick="Nuevo" data-bs-target="#NuevoEditarModal">Nuevo</button>
        @if (generos != null && generos.Count > 0)
        {
            <TablaIdNombreConFiltro ListEntity="@(generos.Cast<IEntityIdNombre>().ToList())" OnEliminar="Eliminar" OnModificar="Modificar"></TablaIdNombreConFiltro>
			<NuevoEditarIdNombre Titulo="Genero" Entity="generoSeleccionado" OnGuardar="Guardar"></NuevoEditarIdNombre>
        }
        else
        {
            <div class="alert alert-info" role="alert">
                No hay generos registrados.
            </div>
        }
    }
</div>

@code {
    List<Genero>? generos = new List<Genero>();
	Genero generoSeleccionado = new();

    bool isLoading;

    protected override async Task OnInitializedAsync()
    {
        await LoadGeneros();
    }

    private async Task LoadGeneros()
    {
        isLoading = true;
        generos = await _generoService.GetAllAsync();
        isLoading = false;
    }

    private void Modificar(IEntityIdNombre entity)
    {
        generoSeleccionado = (Genero)entity;
    }

    private void Nuevo()
    {
        generoSeleccionado = new();
    }

    private async Task Guardar(IEntityIdNombre entity)
    {
        try
        {
            isLoading = true;
            Genero generoToSave = (Genero)entity;
            if (generoToSave.Id == 0)
            {
                // Nuevo genero
                await _generoService.AddAsync(generoToSave);
                await _sweetAlert.FireAsync("Creado", "El genero ha sido creado exitosamente.", SweetAlertIcon.Success);
            }
            else
            {
                // Actualizar genero existente
                await _generoService.UpdateAsync(generoToSave);
                await _sweetAlert.FireAsync("Actualizado", "El genero ha sido actualizado exitosamente.", SweetAlertIcon.Success);
            }
            generos = await _generoService.GetAllAsync();
        }
        catch (Exception ex)
        {
            await _sweetAlert.FireAsync("Error", "Hubo un error al guardar el genero.", SweetAlertIcon.Error);
        }
        finally
        {
            isLoading = false;
        }
    }

    private async Task Eliminar(IEntityIdNombre entity)
    {
        SweetAlertResult respuesta = await _sweetAlert.FireAsync(new SweetAlertOptions
            {
                Title = "Eliminando genero",
                Text = $"¿Está seguro que desea borrar al genero {entity.Nombre}",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Si, quiero borrarlo!",
                CancelButtonText = "No, espera"
            });
        if (respuesta.IsConfirmed)
        {
            try
            {
                await _generoService.DeleteAsync(entity.Id);
                isLoading = true;
                generos = await _generoService.GetAllAsync();
                await _sweetAlert.FireAsync("Eliminado", "El genero ha sido eliminado exitosamente.", SweetAlertIcon.Success);
            }
            catch (Exception ex)
            {
                await _sweetAlert.FireAsync("Error", "Hubo un error al eliminar el genero.", SweetAlertIcon.Error);
            }
            finally
            {
                isLoading = false;
            }
        }
    }
}
